/* Home Page Starting */
/* Hedaing starting */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(245, 245, 245);
    }

    header {
    background-color: orangered;
    height: 7vh;
    padding: 13px 0px 0px 0px;
    }
    .header_home_heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
        font-size: 30px;
        color: white;
    }
    .header_home_heading a{
        text-decoration: none;
        color: white;
    }
    .header_home_heading span{
        padding-left: 10px;
    }
    .header_heading_slider{
        background-color: white;
        display: none;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        position: relative;
        bottom:100%;
        left: 77.8%;
        width: 340px;
        z-index: 999;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* transition: right 10s ease-in-out; */
    }
    .header_heading_slider i{
        padding-top: 20px;
        padding-left: 300px;
        color: red;
        font-size: 30px;
    }
    .header_heading_slider ul li{
        color: rgba(0, 0, 0, 0.668);
        font-size: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.781);
        padding: 15px;
        text-align: left;
    }
    .header_heading_slider ul{
        list-style: none;
        padding:10px;
        margin: 0%;
        width: 90%;
    }
    /* heading ending */
    /* Main Page Heading Starting */
    .main_heading_content_container{
        background-color: rgba(0, 0, 0, 0.580);
        width: 100%;
        height: 100%;
    }
    .main_heading_container{
        background-image: url(../media/pexels-enginakyurt-1435895.jpg);
        width: 100%;
        height:550px;
        object-fit:cover;
        background-repeat: no-repeat;
        background-size: cover; 
        position: relative;
    }
    .main_heading_searchbar_content_container{
        position: absolute;
        top: 30%;
        left: 33%;
    }
    .main_heading_text_content_container{
        position: absolute;
        top: 40%;
        left: 23%;
    }
    .main_heading_content_container input{
        width: 400px;
        height: 55px;
        border: none;
        border-radius:90px;
        padding-left: 50px;
        font-size: 25px;
    }
    .main_heading_content_container button{
        background-color: orangered;
        border: 0.5px solid white;
        border-radius: 90px;
        font-size: 25px;
        height: 50px;
        width: 50px;
        color: white;
    }
    .main_heading_searchbar_content_container{
        display: flex;
        justify-content:baseline;
        align-items: center;
        gap: 10px;
    }
    .main_heading_text_content_container h2{
        font-size: 60px;
        font-family: "Bebas Neue", sans-serif;
        margin-bottom: 0%;
        color: white;
    }
    .main_heading_text_content_container p{
        color: white;
        font-size: 25px;
        padding-left: 210px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        word-spacing: 15px;
    }
    /* Main Page Heading Ending */
    /* Categories Page Starting */
    .categoriesContainer{
        padding: 0px 25px 0px 25px;
        position: relative;
        margin-bottom: 50px;
    }
    .categoriesContainer h3{
        font-size: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 15px;
        font-weight:700;
    }
    .categoriesContainer h3::after{
        content: "";
        width: 150px;
        height: 5px;
        background-color: orangered;
        position: absolute;
        left:25.5px;
        top:50px;
    }
    #categoriesContainerContent{
        display:flex;
        justify-content:baseline;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 30px;
    }
    .categoriesCards{
        background-color: white;
        position: relative;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }
    .categoriesCards img{
        width: 90%;
        object-fit: cover;
        padding: 20px 10px 20px 10px;
    }
    .categoriesCards p{
        background-color: orangered;
        width: min-content;
        position: absolute;
        top: -5px;
        padding: 5px;
        right: 10px;
        border: none;
        border-radius: 5px;
        color: white;
        box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.5);
    }
    /* Categories Page Ending */
    /* Home Page Ending */